#encabezado{
		width:100%;
		height:250px;
	}
#cont{
		width:90%;
		height:100%;
		margin: 7px 7px;
		float:left;
	}
	img{
		width:100%;
		height:250px;
	}
#tabla{
		width:90%;
		height:100%;
		margin: 80px auto;
		float:left;
}
